@keyframes toogle__topEyelid {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50px);
  }
  80% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes toogle_bottomEyelid {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes close__topEyelid {
  0% {
    transform: translateY(50px);
  }
  20% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
  }
@keyframes open__topEyelid {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(10px);
    }
    70% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  
  @keyframes open__bottomEyelid {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-50px);
    }
  }
  @keyframes close__bottomEyelid {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes pupils__move_down {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(40px);
    }
  }

  @keyframes pupils__move_center {
    0% {
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0px);
    }
  }