
@keyframes topEyelid {
    0% {
      transform: translateY(0);
    }
    20% { 
      transform: translateY(50px);
    }
    80% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(50px);
    }
  }
  
  @keyframes bottomEyelid {
    0% {
      transform: translateY(0px);
    }
    20% { 
      transform: translateY(-50px);
    }
    80% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(-50px);
    }
  }

  @keyframes bounce-in {
    0% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1.5);
    }
    100% {
      transform: scaleY(1);
    }
  }

  @keyframes pupils__move_down {
    0% {
      transform: translateY(0px);
    }
    20% { 
      transform: translateY(10px);
    }
    70% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(50px);
    }
  }

  @keyframes pupils__move_center {
    0% {
      transform: translateY(0px);
    }
    50% { 
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(-50px);
    }
  }