@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@100;200&family=Work+Sans:wght@300&display=swap");
a {
  text-decoration: none;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.v-application {
  font-family: "Work Sans", sans-serif, sans-serif !important;
  font-weight: 300;
}

.v-application .title, .v-application .headline {
  font-family: "Josefin Sans", sans-serif, sans-serif !important;
  font-weight: 700;
  word-break: break-word;
}

.v-application .title {
  font-family: "Josefin Sans", sans-serif, sans-serif !important;
  font-weight: 700;
  word-break: break-word;
}

.v-application .subtitle {
  font-family: "Montserrat", sans-serif, sans-serif !important;
  font-weight: 700;
  word-break: break-word;
}

.v-application h1, .v-application h2, .v-application h3, .v-application h4, .v-application h5, .v-application h6 {
  font-family: "Josefin Sans", sans-serif, sans-serif !important;
  font-weight: 900;
}

@-webkit-keyframes toogle__topEyelid {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  80% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes toogle__topEyelid {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  80% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes toogle_bottomEyelid {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes toogle_bottomEyelid {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  80% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes close__topEyelid {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  20% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes close__topEyelid {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  20% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes open__topEyelid {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes open__topEyelid {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes open__bottomEyelid {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes open__bottomEyelid {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes close__bottomEyelid {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes close__bottomEyelid {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pupils__move_down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes pupils__move_down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@-webkit-keyframes pupils__move_center {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes pupils__move_center {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes mouth__closing {
  0% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}

@keyframes mouth__closing {
  0% {
    height: 100px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}

@-webkit-keyframes mouth__opening {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

@keyframes mouth__opening {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.Bender {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #a6b4c4;
  background-image: radial-gradient(#a6b4c4, #59798e);
  -webkit-transition: background-image 2s;
  transition: background-image 2s;
}

.bender__face {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bender__eyes {
  width: 400px;
  height: 150px;
  border: 3px solid black;
  border-radius: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bender__socket {
  width: 375px;
  height: 125px;
  border: 3px solid black;
  border-radius: 200px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.Bender__eye {
  height: 145px;
  width: 145px;
  background: #fefbb8;
  border-radius: 100%;
  margin: -10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.Bender__eye::before {
  content: '';
  position: absolute;
  width: 145px;
  height: 50px;
  top: -50px;
  background: black;
}

.Bender__eye::after {
  content: '';
  position: absolute;
  width: 145px;
  height: 50px;
  bottom: -50px;
  background: black;
}

.Bender__pupil {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
}

.Bender__mouth {
  width: 275px;
  height: 100px;
  background: #fefbb8;
  margin-top: 80px;
  border-radius: 50px;
  border: 4px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  position: relative;
}

.Bender__tooth {
  height: 100px;
  width: 4px;
  background: black;
}

.Bender__lip {
  position: absolute;
  width: 275px;
  height: 4px;
  background: black;
  top: calc(33% - 2px);
}

.Bender__lip:last-of-type {
  top: calc(66% - 2px);
}

.eye_state_normal::before {
  -webkit-animation: 5s ease-in-out  forwards close__topEyelid;
          animation: 5s ease-in-out  forwards close__topEyelid;
  -webkit-animation: 5s ease-in-out 4s infinite toogle__topEyelid;
          animation: 5s ease-in-out 4s infinite toogle__topEyelid;
}

.eye_state_normal::after {
  -webkit-animation: 5s ease-in-out 4s infinite toogle_bottomEyelid;
          animation: 5s ease-in-out 4s infinite toogle_bottomEyelid;
}

.pupils_state_normal {
  -webkit-animation: 1s ease-in-out  forwards pupils__move_center;
          animation: 1s ease-in-out  forwards pupils__move_center;
}

.mouth_state_triste {
  -webkit-transition: height 1s 0.5s;
  transition: height 1s 0.5s;
  -webkit-animation: 2s linear 1s forwards mouth__opening;
          animation: 2s linear 1s forwards mouth__opening;
}

.face_state_normal {
  background-image: radial-gradient(#c4a6b9, #8e8b59);
}

.eye_state_triste::before {
  -webkit-animation: 2s linear forwards open__topEyelid;
          animation: 2s linear forwards open__topEyelid;
}

.pupils_state_triste {
  -webkit-animation: 1.5s linear  forwards pupils__move_down;
          animation: 1.5s linear  forwards pupils__move_down;
}

.mouth_state_triste {
  -webkit-transition: height 1s 0.5s;
  transition: height 1s 0.5s;
  -webkit-animation: 2s linear 1s forwards mouth__closing;
          animation: 2s linear 1s forwards mouth__closing;
}
/*# sourceMappingURL=main.css.map */