body {
  
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .Bender {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #a6b4c4;
  }
  @import 'bender_face.scss';
  @import 'bender_eye.scss';
  @import 'bender_mouth.scss' ;
  @import 'happiness_meter.scss';
  @import '../state/bender_humor.scss'
  
  



  