.eye_state_triste::before {
    animation:  2s linear forwards open__topEyelid;
  }
  .eye_state_triste::after {
    // animation:  5s ease-in-out 1s forwards bottomEyelid;
  }
  .pupils_state_triste {
    animation:  1.5s linear  forwards pupils__move_down;
  }

  .mouth_state_triste {
      transition: height 1s 0.5s;
      animation: 2s linear 1s forwards mouth__closing;
  }

  .face_state_triste {
    background:  linear-gradient(90deg, #a6b4c4, #59798e, #23a6d5) no-repeat;
    background-size: 300% 300%;
    animation: fundo__triste 5s ease-in-out forwards;
  }
  