.eye_state_alegre::before {
  animation:  40s ease-in-out  forwards close__topEyelid;
  }
  .pupils_state_alegre {
    animation:  10s ease-in-out  forwards pupils__move_center;
}
.mouth_state_alegre {
    transition: height 1s 0.5s;
    animation: 8s linear  forwards mouth__smiling;
}

.face_state_alegre {
  background:  linear-gradient(90deg, #263238,#455A64, #455A64, #a6b4c4) no-repeat;
  background-size: 300% 300%;
  animation: fundo__triste 5s 1s ease-in-out forwards;
}

.happiness_meter_state_alegre {
  background:  linear-gradient(90deg, rgb(129, 16, 16) ,red,#ecf845 ,rgb(36, 218, 36), #5eee3a) no-repeat;
  background-size: 300% 300%;
  animation: happiness__meter 10s ease-in-out forwards;
}
  